.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 76%, rgba(2,0,36,1) 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}



.title-brand {
  padding-left: 10px;
  padding-top: 10px;
}

.nav-link {
  color:white;
}
